.ProductData{
  display:grid;
  grid-template-columns: repeat(4 ,300px);
  gap: 20px;
  justify-content: center;
  margin-top: 50px;

}

.ADDTOCART{
  background-color: #018849 ;
  font-weight: bold;
  color: white;
  border-radius: 0%;
}

.ADDTOCART:hover{
  color: white;
  background-color: #018849;
}

#searchpro{
  width: 300px;
  height: 45px;
}