.RegBtn{
 border: 2px solid gray;
 width: 150px;
 font-weight: bold;
 color:gray;
 border-radius: 0%;
}
.RegInput{
  width: 350px;
  height: 50px;
  margin-top: 13px;
}
.logoSIGN{
 margin-left: 640px;
 margin-top: 30px;
}
.adjustREGName{
  margin-top: 20px;
  font-weight: bold;
  color: gray;
}
.joinASSOS{
  background-color: #AAAAAA;
  margin-top: 20px;
  width: 350px;
  padding: 10px;
  color: white;
  border-radius: 0%;
  font-weight: bold;
}
.MainSignUp{
  margin-left: 450px;
}
#ForGotPASS{
  text-align: center;
  margin-top: 10px;
}
#ForGotPASS:hover{
  color: gray;
  text-decoration: underline;
}
.SIGNINHED{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}