.MainContainerDesc{
 width: 70%;
 margin: auto;
 margin-top: 70px;
}
.DescContaierDiv{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 545px ;
    /* gap: 20px; */
}
.DescImgDiv img{
    /* border: 1px solid blue; */
    width: 99%;
    
}

.DescDetailsMainDiv{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
}
.ReferCode{
    height: 80px;
    /* border: 1px solid green; */
    background-color: #cde2f5;
    display: flex;
    gap: 20px;
    align-items: center;
}
.fa-arrow-right{
    font-size: 30px;
}
.ReferCode div{
  margin-left: 20px;
}
.referYtext{
    width: 184px;
    font-size: 15px;
}
.deltruck{
    height: 80px;
    border: 1px solid rgb(190, 181, 181);
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}
.delText{
    width: 200px;
}
.deltruck div{
    margin-left: 20px;

}

.fa-truck{
    font-size: 30px;
    color: #4d4e50;
}
.fa-link{
    font-size: 12px;
}

.ADDTOCART{
    background-color: #018849 ;
    font-weight: bold;
    color: white;
    border-radius: 0%;
    width: 290px;
    padding-top: 10px;
  }
  
  .ADDTOCART:hover{
    color: white;
  background-color: #018849;
  }

  .HeartIcon{
    width: 50px;
    height: 50px;
    background-color: rgba(128,128,128,0.1);
    /* text-align: center; */
    display: flex;
    align-items: center;
    border-radius: 50%;
  
  }
  .fa-heart{
    margin: auto;
    font-size: 20px;
  }
  .btnheartDiv{
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }

  .SecMainDiv{
    margin-top: 100px;
  }
  .ProductCode{
    margin-top: 20px;
  }

  .ProductCode{
    color: gray;
  }

  .SecMainDiv{
    display: flex;
    justify-content: space-between;
  }
  