.Mininav{
  display: flex;
  gap: 20px;
  justify-content:end;
  width: 97%;
  height: 30px;
  align-items: center;
  
}
.Mininav>div:hover{
  color: blue;
  cursor:pointer;
}
.LineNav{
  color: lightgray;
}